.container{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
} 

.header{
    background-color: #33d9b2;
    padding: 1rem;
}

.mobile .header{
    
    position:fixed;
    z-index:2;
    
} 

.sidenavContainer{
    flex:1;
}

.mobile .sidenavContainer{
    flex: 1 0 auto;
}

.title{
    margin-left: 0.5rem;
    font-size: 1.2rem;
    
}

.spacer{
    flex: 1 1 auto;
}

.sidenav{
    
    background-color: #218c74;
    width: 50vw;
}

.sidenav a{
    color: #FFF;
}

.sidenav i {
    padding-right: 0.63rem;
}


@media (min-width: 500px) {
    
    .title{
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }
    .sidenav{
        /* background-color: rgb(21, 153, 241); */
        /* overflow:hidden; */
        width:10rem;;
    }
   
}