<div class="container" [class.mobile]="mediaQuery.matches">
    <mat-toolbar class="header">
        
            <button mat-icon-button (click)="opened = !opened">
                <mat-icon color="white">menu</mat-icon>
            </button> 
        
        <span class="title">Entrega Certa</span>
        
        <!-- <span class="spacer"></span> -->
    </mat-toolbar>

<mat-sidenav-container  class="sidenavContainer" [style.marginTop.px]="mediaQuery.matches ? 56 : 0">
    <mat-sidenav class="sidenav" #sidenav mode="over" [(opened)]="opened" [fixedInViewport]="mediaQuery.matches"
    fixedTopGap="56">
        <mat-nav-list class="nav-list" >
            <!-- <a mat-list-item  routerLink="homeBuyer" (click)="sidenav.toggle()">
                <i class="material-icons">
                    home
                </i>
                Início
            </a> -->
            <a mat-list-item  routerLink="delivery-list" (click)="sidenav.toggle()">
                <i class="material-icons">
                    local_shipping
                </i>
                Encomendas
            </a>
            <a mat-list-item  routerLink="user-update" (click)="sidenav.toggle()">
                <i class="material-icons">
                    update
                </i>
                atualizar 
            </a>
            
            <a mat-list-item (click)="exit()" >
                <i class="material-icons"> 
                    logout
                </i>
                Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
