<div class="container">
    <h1 class="title">Login</h1>
    <form>
        <!-- <span> -->
        <mat-form-field class="input">

            <input matInput placeholder="Nome" [(ngModel)]="user" name="name" />

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput [(ngModel)]="password" name="password" placeholder="Senha" type="password" />

        </mat-form-field>

        <button mat-raised-button (click)="login()" color="primary">
            Entrar
        </button>

        <a (click)="create()">
            Novo Usuário
        </a>
        <!-- </span> -->
    </form>
</div>