<mat-card class="card">

    <mat-card-title class="title">Login</mat-card-title>

    <form>
        <span>
            <mat-form-field class="input">

                <input  matInput placeholder="Nome" [(ngModel)]="user" name="name">
                
            </mat-form-field>

            <mat-form-field class="input">

                <input matInput [(ngModel)]="password" name="password" placeholder="Senha" type="password">

            </mat-form-field>
            
            <button mat-raised-button (click)="login()" color="primary">
                Salvar
            </button>

            <a (click)="create()" >
                Criar conta
            </a>
        </span>
    </form>

</mat-card>
