.card{
    margin: auto;
    text-align: center;
    width: 70%;
    min-height: 30%;
}

.title{
    margin-bottom: 1rem;
}

form{
    
    display:flex;
    flex-direction:column;
    margin-top: 60px;
    max-height: 30%;
    justify-content: center;
    align-items: center;
}

button{
    margin: auto;
    font-size: 1.1rem;
    margin-top: 50px;
    width: 20%;
    height: 40px;
    margin-bottom: 20px;
}

.input{
    margin: auto;
    margin-bottom: 1rem;
    width:60%;
}

/* div{
    position: relative;

    min-width:60%;
    height:180px;
    margin:0;
    margin:auto;
} */

.foto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.img-container{
    width: 80%;
    margin: 2%;
}

img{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    /* border-radius: 50%; */
    border: 1px solid rgb(177, 177, 177);
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.btn-container button{
    width: 100%;
}

/* img{
    position:absolute;
    left:0px;
    width: 100px;
    border: 1px solid rgb(177, 177, 177);    
} */

/* .file{
    float:right;
} */

