.card{
    
    margin: auto;
    text-align: center;
    width: 70%;
    min-height: 30%;
   

}

.title{
    margin-bottom: 1rem;
}

form{
    
    display:flex;
    flex-direction:column;
    margin-top: 60px;
    max-height: 30%;
}

button{
    margin: auto;
    font-size: 1.1rem;
    margin-top: 50px;
    width: 20%;
    height: 40px;
    margin-bottom: 20px;
}

.input{
    margin: auto;
    margin-bottom: 1rem;
   width:60%;
}

div{
    position: relative;
    /* display:inline-block; */
    /* max-width:60%; */
    min-width:60%;
    height:180px;
    margin:0;
    margin:auto;
}

img{
    position:absolute;
    left:0px;
    width: 100px;
    border: 1px solid rgb(177, 177, 177);    
}

.file{
    float:right;
}

