<mat-card class="card">

    <mat-card-title class="title">Cadastro</mat-card-title>

    <form>

        <div class="foto-container">
            <div class="img-container">
                <img src="../../../../assets/default-user.png" id="image" alt="Imagem perfil" width="250" height="200">
            </div>
            <input id="input-foto" class="input" placeholder="Imagem" [(ngModel)]="photo" name="photo" (change)="handleFileInput($event.target.files)" type="file" >
        </div>

        <mat-form-field class="input">

            <input placeholder="Nome" [(ngModel)]="name" name="name" matInput type="text">
            
        </mat-form-field>

        
       
            
        <mat-form-field class="input">

            <input  matInput placeholder="Email" [(ngModel)]="email" name="email" type="email">
            
        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="contactNumber" placeholder="Número de contato" [(ngModel)]="contactNumber" type="text">

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="hasWhatsApp" placeholder="Possui Whatsspap" [(ngModel)]="hasWhatsApp" type="text">

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="cep" placeholder="CEP" [(ngModel)]="cep" type="text">

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="street" placeholder="Rua" [(ngModel)]="street" type="text">

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="homeNumber" placeholder="Número de moradia" [(ngModel)]="homeNumber" type="text">

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="complement" placeholder="Complemento" [(ngModel)]="complement" type="text">

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="neighborhood" placeholder="Bairro" [(ngModel)]="neighborhood" type="text">

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="user" placeholder="Usuário" [(ngModel)]="user" type="text">

        </mat-form-field>

        <mat-form-field class="input">

            <input matInput  name="password" placeholder="Senha" [(ngModel)]="password" type="password">

        </mat-form-field>
       
        <div class="btn-container">
            <button mat-raised-button (click)="send()" color="primary">
                Cadastrar
            </button>
       </div>

    </form>

</mat-card>

