.card{
    overflow:auto;
    margin: auto;
    text-align: center;
    width: 80vw;
}

form{
    display:flex;
    flex-direction:column;
    width: 60vw;
    margin: auto;
}

.whatsapp-link{
    position:fixed;
    width:40px;
    height:40px;
    bottom: 26.7px;
    right:13.5px;
    background-color:#25d366;
    color: #fff;
    border-radius:50%;
    text-align:center;
    font-size:20px;
    box-shadow: 1px 2px #888;
}

.fa-whatsapp{
    
    margin-top:10.7px;
}

#button-container{
    margin:auto;
}

#button{
    width:12rem;
}

.container{
    margin:auto;
    width:90vw;
}

.title{
    margin-top:1rem;
    margin-bottom:1.5rem;
}

.status-container{
    width:60vw;
    margin-bottom: 1rem;
}
.status{
    float:left;
}

.input{
    width:30vw;
}


.photoContainer{
    margin:auto;
    width:60vw;
    text-align:center;
}



.cardPhoto{
    margin-left: 1rem;
    float: left;
}

.foto-container-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.img-container-add{
    display:inline-block;
    width: 80%;
    margin: 2%;
    
}

img{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    border: 1px solid rgb(177, 177, 177);
    margin: 1%;
}

@media (min-width: 700px) {
    .photoContainer{
        margin:auto;
        width:80vw;
        text-align:center;
      
    }
    .whatsapp-link{
        position:fixed;
        float:left;
        width:60px;
        height:60px;
        bottom: 40px;
        right:40px;
        background-color:#25d366;
        color: #fff;
        border-radius:50%;
        text-align:center;
        font-size:30px;
        box-shadow: 1px 2px #888;
    }
    
    .fa-whatsapp{
        
        margin-top:16px;
    }

    #button-container{
        margin:auto;
        margin-top:0.5rem;
        margin-bottom:1rem;
    }
    
    #button{
        width:12rem;
    }
}



