/*
div {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    min-height: 50%;
    border:1px solid rgb(201, 201, 201);
    border-radius:5px;
}
*/

.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.title {
    /*
    margin-top: 10%;
    text-align:center;
    padding-bottom:5%;
    */
    font-size: 1.8rem;

    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

button {
    /*
    margin: auto;
    font-size: 1.1rem;
    margin-top: 50px;
    width: 20%;
    height: 40px;
    margin-bottom: 20px;
    */
    font-size: 1.1rem;
}

.input {
    /*
    margin: auto;
    min-width:70%;
    */
    padding-bottom: 20px;

    width: 80vw;
}

a {
    /*
    padding-bottom: 5px;
    */
    cursor:pointer;

    margin-top: 1.5rem;
}

/*
span {
    display:flex;
    flex-direction:column;
    text-align:center;
}
*/

@media (min-width: 500px) {
    .title {
        margin-bottom: 4rem;
    }

    .input {
        width: 50vw;
    }

    a {
        margin-top: 4rem;
    }
}