<mat-card class= "card">

    <mat-card-title>Alterar entrega</mat-card-title>

    <form>
          
        <mat-form-field>
            <input matInput placeholder="Quantidade" [(ngModel)]="deliveryModel.amountPackaging" name="amountPackaging">
        </mat-form-field>

              <mat-form-field >
                <mat-label>Data</mat-label>
                <input matInput name="date" [matDatepicker]="picker" [(ngModel)]="date" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field >
                <mat-label>Horário</mat-label>
                <input matInput type="time" name="times"[(ngModel)]="times" >
              </mat-form-field>
    </form>


    <button mat-raised-button (click)="updateDelivery()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>


</mat-card>
