
<mat-card class="card">
    <mat-card-title class="title">Dados da entrega</mat-card-title>
    <form>
        
        <div class="status-container">
            <label class="status">status: {{statusDelivery}}</label>
        </div>
        
        <div >
            <span class="status">
                <input id="markDelivered" name="status" type="checkbox" (click)="delivered()">
                <label >encomenda entregue ao comprador</label>
            </span>
        </div>
       
    </form>
    
    
</mat-card>

<mat-card class= "card">
    
    <mat-card-title>Atualizar entrega</mat-card-title>

    <form>
          
        <mat-form-field>
            <input class="input" matInput placeholder="Quantidade" [(ngModel)]="deliveryModel.amountPackaging" name="amountPackaging" type="number"> 
        </mat-form-field>

              <mat-form-field >
                <mat-label>Data</mat-label>
                <input class="input" matInput ng-bind="date|date:'dd/MM/yyyy' " name="date" [matDatepicker]="picker" [(ngModel)]="date" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field >
                <mat-label>Horário</mat-label>
                <input class="input" matInput type="time" name="times"[(ngModel)]="times" #time >
            </mat-form-field>
            
              
    </form>

    
    <button mat-raised-button (click)="updateDelivery()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
    
    
    
</mat-card>
<mat-card class="photoAdd">
    <mat-card-title class="title">Adicionar foto</mat-card-title>
    <form>
        
            <div class="foto-container-add">
                <div class="img-container-add">
                    <img id="image" alt="Imagem entrega" width="250" height="200">
                </div>
                <input class="input" placeholder="Adicionar Imagem" [(ngModel)]="photo" name="photo"
                    (change)="handleFileInput($event.target.files)" type="file" >
            </div>
    </form>
</mat-card>
<div class="photoContainer">
    <div *ngFor="let photo of photos" class="photo">
        <img src={{photo.src}}>
        <button class="buton" (click)="photoDelete(photo.id)"> 
            Excluir imagem
        </button>
    </div>
</div>

<div *ngIf="whatsapp" id="contact-container">
    <div id="contact" >
        <a class="whatsapp-link" href="https://api.whatsapp.com/send?1=pt_BR&phone={{numberContact}}" target="_blank">
            <i class="fa fa-whatsapp"></i>
        </a>
    </div>
</div>





    

    

